*
{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 13px;
}
.cal
{
    width: 100%;
    max-width: 600px;
    margin-top: 10%;
    margin-left: 11%;

}
.cal h1
{
    font-size: 60px;

}
.cal span
{
    color: #ffff76;
    font-weight: 800;

}
.cal h3
{
    margin-top: 6%;
    color:#fff;
    font-size: 30px;
}
.inputbox
{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display:flex;
    align-items: center;
}
.inputbox input
{
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    border: 0;
    outline: 0px;
    border-radius: 10px;
    position: relative;
    font-size: 20px;
}
.inputbox button
{
    background: #fff;
    border: 0;
    outline: 0px;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.03s;
}
.inputbox button:hover
{
    background: #ffff76;
    color: red;
    transform: translateY(-5px);
}
.inputbox input::webkit-calendar-picker-indicator
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
.cal p
{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
}
#result span{
    color: #ffff76;
}